extends layout 

block content 

    h1= title 
    if(currentUser && currentUser.memberStatus)
        form(method="POST") 
            div 
                label(for="title") Title: 
                input#title(name="title", placeholder="A good title" required) 
            div 
                label(for="message") Message: 
                textarea#message(name="message", cols="30", rows="10" placeholder="Here's my long story how much i love cats")
            div     
                button(type="submit") Send a message
    else 
        p Membership Required: Enter the Secret Realm to Unlock Posting Privileges!