doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    navbar 
      div 
        ul 
          li 
            a(href="/") Main page  
          li 
            a(href="sign-up") Sign up  
          if !currentUser
            li 
              a(href="login") Log in 
          else 
            li
              form(action="/logout", method="post")
                button(type="submit", class="link-button") Log out
          li 
            a(href="secret-page") Secret 
          if currentUser 
            li 
              a(href="createMessage") Create new message 
    block content
