doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    navbar 
      div 
        ul 
          li 
            a(href="sign-up") Sign up  
          li 
            a(href="login") Login 
          li 
            a(href="secret-page") Secret 
    block content
