doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div.flex-container
      nav.navbar 
        ul.nav-list 
          li 
            a(href="/") Main page  
          li 
            a(href="sign-up") Sign up  
          if !currentUser
            li 
              a(href="login") Log in 
          else 
            li 
              a(href="new-message") Create a new message
            li
              form(action="/logout", method="post")
                button(type="submit", class="link-button") Log out
          li 
            a(href="secret-page") Secret 
      div.flex-1 
        block content
