extends layout 

block content 

    h1.title= title

    form.form-container(method="POST")
        div
            label(for="username") Username: 
            input(type="text" name="username" placeholder="kitty@meow.pl" id="username")
        div
            label(for="password") Password 
            input(type="password", name="password", placeholder="*****" id=" password") 
        button(type="submit") Log in 