if currentUser && currentUser.memberStatus
    h1 Membership Confirmed</h1>
    p You have successfully entered the correct secret key and are now a member!</p>
    a(href="/") Go to Main Page</a>
else 
    p Nothing to see here...