
if currentUser && currentUser.memberStatus
    div.notification
            h1 Membership Confirmed
            p You have successfully entered the correct secret key and are now a member!
            a(href="/") Go to Main Page
