extends layout 

block content 
    h1.title= title

    if currentUser && !currentUser.memberStatus
        form(method="POST")
            div
                label(for="secret") Secret password: 
                input(type="text" id="secret" name="secret")
            button(type="submit") Become a member!

        if error 
            p= error
    else if !currentUser
        h2.notification Please log in first !
    else 
        h2.notification You are already a member