extends layout 

block content 
    h1= title

    form(method="POST")
        div
            label(for="secret") Secret password: 
            input(type="text" id="secret" name="secret")
        button(type="submit") Become a member!

    if error 
        p= error
