extends layout 

block content 
    h1 #{title}

    form(method="POST")
        div
            label(for="name") First name: 
            input(type="text" id="name" name="name" required value= ((locals.input && input.firstName) ? input.firstName : ''  ))
        div
            label(for="surname") Last name: 
            input(type="text" id="surname" name="surname" required value= ((locals.input && input.lastName) ? input.lastName : ''))
        div
            label(for="username") Username: 
            input(type="email" id="username" name="userName" required value= ((locals.input && input.userName) ? input.userName : ''))  
        div
            label(for="password") Password: 
            input(type="password" id="password" name="password" required)  
        div
            label(for="confirmPassword") Confirm password: 
            input(type="password" id="confirmPassword" name="confirmPassword" required)     
        button(type="Submit") Sign up 

    if errors
        ul 
            each error in errors
                li= error.msg