:root {
  --dark-blue: #001f3f;
  --green: #2ecc40;
  --gold: #ffd700;
  --gray: #aaaaaa;
  --red: #ff4136;
  --purple: #b10dc9;
  --teal: #39cccc;
}

/*  Minimal CSS reset */
html {
  box-sizing: border-box;
  font-size: 17px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* End of the css reset */

body {
  padding: 50px;
  font: 17px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: var(--dark-blue);
  color: var(--gray);
  /* max width 1200px and auto center */
  max-width: 1200px;
  margin: 0 auto;
}

/* H1 to be centered */
.title {
  text-align: center;
  color: var(--gold);
}

.flex-1 {
  flex: 1;
}

/* Flex container */
.flex-container {
  display: flex;
}

/* Navbar styles */

.navbar {
  background-color: var(--dark-blue);
  padding: 20px;
  max-width: 200px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-list li {
  display: inline;
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  color: var(--gold);
  text-decoration: none;
}

.nav-list li a:hover {
  color: var(--green);
}

/* Index page messages */
.message {
  border: 1px solid var(--gray); /* Add borders to messages */
  padding: 10px; /* Add padding to create space between content and borders */
  margin-bottom: 20px; /* Add margin to create space between messages */
}

.message-details {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.message-username {
  color: #00b7ff;
}
.message-text {
  margin-top: 5px;
}

/* Form styling */

.login {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  width: 150px;
  display: flex;
}

.login input {
  min-width: 80%;
}

.login div {
  margin-bottom: 20px;
}

.login input[type='text'],
.login input[type='email'],
.login input[type='password'] {
  flex: 1; /* Take up remaining space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding and border are included in width */
}

.login button[type='submit'] {
  padding: 10px;
  background-color: #00b7ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 50%;
}
.login button[type='submit']:hover {
  background-color: #0096d6; /* Darker shade for hover */
}
